* {
    font-family: 'Lucida Sans';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    width: 100px;
    height: auto;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #2c5494;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #5776ab;
    margin: 0 30px;
    padding: 20px 20px;
    border-radius: 5px;
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
}

header a:hover {
    background-color: #eb252c;
}

#seccion1 {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#seccion1 h1 {
    color: red;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px;
}

#seccion1 img {
    width: 700px;
    max-width: 420px;
    max-height: 235px;
    display: inline;
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#seccion2 h1,h2 {
    color: red;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 20px;
    margin: 0 0px;
}

#seccion3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
                        "img1 h21"
                        "img1 p1";
}

#seccion3 #img1 {
    grid-area: img1;
    max-width: 100%;
    max-height: 100%;
    margin: 0 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#seccion3 #p1 {
    grid-area: p1;
}

#seccion3 #h21 {
    grid-area: h21;
}

#seccion3 p{
    background-color: white;
    color: #2c5494;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#seccion3 h2 {
    color: red;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

#seccion4  {
    background-color: white;
}

#seccion4 h1{
    color: red;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 40px;
    margin: 0 0px;
}

#seccion4 p{
    color: #2c5494;
    background-color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

#seccion4 img {
    width: 700px;
    max-width: 420px;
    max-height: 235px;
    display: inline;
    margin: 0 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#seccion5 h1{
    color: red;
    background-color: white;
    margin-bottom: 15px;
    text-align: center;
    padding: 40px;
    margin: 0 0px;
}

#seccion5 p{
    color: #2c5494;
    background-color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: white;
    border-top: 4px solid #2c5494;
    padding: 20px;
    box-sizing: border-box;
}

footer h1 {
    color: #2c5494;
    margin-bottom: 10px;
}

footer img {
    width: 30px;
    margin: 0 30px;
    margin-bottom: 20px;
}

footer small {
    color: #2c5494;
    margin-top: 30px;
}