{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto JASMAN</title>
    <link rel="icon" href="{% static 'img/Icono.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/contacto.css' %}">

</head>
<body>
    <header>
        <img id="logo" src="{% static 'img/logo.png' %}" alt="">
        <a href="{% url "index" %}">INICIO </a>
        <a href="{% url "departamentos" %}">DEPARTAMENTOS </a>
        <a href="{% url "contacto" %}">CONTACTO</a>
        <a href="{% url "quienesSomos" %}">QUIENES SOMOS </a>
        <a href="{% url "donaciones" %}">DONACIONES </a>
        <a href="{% url "ubicaciones" %}">UBICACIONES </a>
    </header>

    <section id="seccionConc">
        <h2>ENVIANOS UN MENSAJE MÁS DETALLADO SOBRE TU SITUACIÓN</h2>
        <form action="" method="get">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required>
            <label for="telefono">Telefono:</label>
            <input type="telefono" id="telefono" name="telefono" required>
            <label for="mensaje">Detalla tu situacion para que un especialista se ponga en contacto contigo:</label>
            <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            <input type="submit" id="btn" name="btn" value="Enviar Informacion">
        </form>
    </section>

    <section id="seccionconcimg">
        <img src="{% static 'img/hospitalgrande.jpg' %}" alt="">
    </section>

    <section id="seccionConc1">
        <h2>PONERSE EN CONTACTO</h2>
        <div class="divdecontacto">
            <img src="{% static 'img/telefonoicono.jpg' %}" alt="Telefono">
            <p>Número de Teléfono: <a href="tel:+123456789">+123 456 789</a></p>
        </div>
        <div class="divdecontacto">
            <img src="{% static 'img/correoicono.png' %}" alt="Correo Electronico">
            <p>Email: <a href="contacto@jasman.com">contacto@jasman.com</a></p>
        </div>
    </section>

    <footer>
        <h1>SIGUENOS EN NUESTRAS REDES SOCIALES:</h1>
        <div>
            <img src="{% static 'img/instagram.png' %}" alt="">
            <img src="{% static 'img/facebook.png' %}" alt="">
            <img src="{% static 'img/youtube.png' %}" alt="">
            <img src="{% static 'img/twitter.png' %}" alt="">
        </div>
        <small>© DERECHOS RESERVADOS JASMAN 2023</small>
    </footer>
    <script src="{% static 'js/contacto.js' %}"></script>
</body>
</html>